<div class="row">
  <div class="col-md-2">
    <button (click)="refreshReportsFromDb()" style="margin-bottom: 2px"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item" *ngFor="let r of reportStructure">{{r.title}}</li>-->
    <!--</ul>-->
    <div class="list-group">
      <a href="#" class="list-group-item" *ngFor="let r of reportStructure" (click)="displayReport(r)">{{r.title}}</a>
    </div>
  </div>

  <div *ngIf="data" class="col-md-10">
    <div class="text-center text-bold h2">{{data.title}}</div>
    <div class="panel">
      <button class="btn btn-warning" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"> pdf</i>
      </button>
      <button class="btn btn-warning" (click)="downloadXlsx()"><i class="fa fa-download" aria-hidden="true"> xls</i>
      </button>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th *ngFor="let field of data.headFields"  class="text-center">
            {{field}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data.rows" >
          <td *ngFor="let field of row.columns" class="text-center">{{field}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
<div class="row">

</div>
